#food-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding-top: 50px;
}
.container{
    border: 1px solid rosybrown;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 350px;


}
#image{
    width: 300px;
    text-align: center;
}
#name{
    font-size: 40px;
    color: seagreen;
}
#information{
    text-align: center;
}
.card-title{
    color:brown;
}
#item{
    color: chartreuse;
}
.number{
    color: chocolate;
}